*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: clamp(0.5rem, 1rem, 2rem);
  font-family: var(--theme-font), sans-serif;
  color: var(--theme-color-neutral, #ffffff);
  background-color: var(--theme-color-background, #dbdbdb);
  // overflow-y: scroll;
}

a {
  text-decoration: none;

  &:visited {
    color: currentColor;
  }
}

li {
  list-style: none;
  font-weight: var(--theme-font-light, 400);
}
