@import "../mixins/fade";

.navbar {
  background-color: var(--theme-color-accent);
  height: 100vh;
  position: fixed;
  right: 0;
  width: 2em;
  max-width: 4em;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2em;

  &__list {
    background-color: inherit;
    position: absolute;
    z-index: 10;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__item {
      font-size: 2em;
      padding: 0.25em;
      cursor: pointer;
    }
  }

  &__menu {
    background-color: inherit;
    position: fixed;
    right: 0;
    z-index: 9;
    height: inherit;
    width: 20em;
    margin-right: min(2em, 4em);
    opacity: 0;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 500ms ease-in;

    &__item {
      animation: fade-out 500ms forwards;
      display: none;

      &_active {
        animation: fade-in 500ms forwards;
        display: block;
      }
    }

    &_open {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.nav {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    justify-content: center;
    align-items: center;

    &__item {
      text-transform: uppercase;
    }
  }
  &__link {
    color: var(--theme-color-neutral);
    transition: color 350ms ease-out;

    &:hover {
      color: var(--theme-color-primary);
    }
  }
}
