@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap');

// Possible Variants: Round, Two Tone, Sharp, Outline. By default is filled 
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Round');


$fonts: ('Inter', 'Montserrat', 'Roboto');