$base-size: 1em;

$sizes: (
    '1': $base-size * 0.25,
    '2': $base-size * 0.5,
    '3': $base-size * 0.75,
    '4': $base-size * 1,
    '5': $base-size * 1.25,
    '6': $base-size * 1.5,
    '7': $base-size * 1.75,
    '8': $base-size * 2,
    '9': $base-size * 2.25,
    '10': $base-size * 2.5,
    '11': $base-size * 2.75,
    '12': $base-size * 3,
    '13': $base-size * 3.25,
    '14': $base-size * 3.5,
    '15': $base-size * 3.75,
    '16': $base-size * 4,
);