$themes: (
    'pink': (
        'primary': hsl(0, 86%, 75%),
        'secondary': hsl(343, 48%, 57%),
        'neutral': hsl(30, 63%, 91%),
        'accent': hsl(343, 34%, 40%),

        'background': hsl(0, 54%, 65%),
    ),

    'la-jaune': (

        'background': hsl(343, 50%, 40%),
    ),
);